
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html lang="en"><head>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="/js/bootbox.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<script>
function placeBid(){
	console.log("inside place bid new");
	console.log("The max bid value is:"+document.getElementById("maxbid").value);
	bootbox.dialog({
		message: "Please confirm the bid amount: $"+document.getElementById("maxbid").value,
		title: "eBay - Place Bid",
		buttons: {
			success: {
			label: "OK!",
			className: "btn-success",
			callback: function() {
				$("input[name=newbidamt]").val(document.getElementById("maxbid").value);
				$("#placeBid").submit();
				}
			},
			danger: {
			label: "Cancel",
			className: "btn-danger",
			callback: function() {
			// Example.show("uh oh, look out!");
			}
		}
		}
	});   
}
</script>
<!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->

<!--srcId: ViewBids--><META name="XslBuildInfo" content="2014-11-04 13:43:58,,, uk`0d72f+6:db,RcmdId ViewBids,RlogId p4lc%60bqfiuf%3F%3Ctof3e34e*2%3Cgc-149e68bca27-0x193"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="http://include.ebaystatic.com/css/e899/us/offer/BidHistoryRedesign_e8991us.css"><link rel="stylesheet" type="text/css" href="http://include.ebaystatic.com/css/e899/us/offer/BidHistoryVisualRefresh_e8991us.css"><style type="text/css">					   

						@media all and (max-width: 1200px) {

                                .pagewidth{

                                         width: 980px;     

                                }                            

                        }

						@media all and (min-width: 1200px) {

                                .pagewidth{

                                        width: 1200px;  

                                }                            

                        }

					</style><style type="text/css">

					.linearBg3 {

						background: -moz-radial-gradient(50% 375% , closest-corner, #000000,#FFFFFF) repeat scroll 0 0 transparent !important;

						filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100,finishopacity=0, style=2);

						background: -webkit-radial-gradient(50% 375% , closest-corner, black, #FFFFFF) repeat scroll 0 0 transparent !important;

						background:#b8b8b8; 

					 }

					 #vizrefresh .ebayBtn span{

					 	background:#45aad6;

						background: -webkit-gradient(linear, left top, left bottom, from(#45AAD6), to(#2387C1));

						background: -moz-linear-gradient(top, #45AAD6, #2387C1);

						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45AAD6', endColorstr='#2387C1');

					}

					

					#vizrefresh .secButton{

						zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */

						*display: inline;

    					background: #f8f8f8;

						background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f8f8f8));

						background: -moz-linear-gradient(top,  #fefefe,  #f8f8f8);

						filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f8f8f8');

						text-shadow: 0 1px 0px rgba(0,0,0,.2);

					}



					#vizrefresh .secButton:hover {

						background: #fafafa;

						background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));

						background: -moz-linear-gradient(top,  #fafafa,  #fafafa);

						filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#fafafa');

						-moz-transition: background-position 0.1s linear 0s;

					}

					

					#vizrefresh .secButton:active {

						background: #fafafa;

						background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));

						background: -moz-linear-gradient(top,  #fafafa,  #fafafa);

						filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#fafafa');

					}

					</style><link rel="stylesheet" type="text/css" href="http://include.ebaystatic.com/css/e899/us/BubbleHelp_e8991us.css"><link type="text/css" href="http://include.ebaystatic.com/css/e899/us/offer/BidHistoryDialog_e8991us.css" media="all" rel="stylesheet"><title>eBay.com Item Bid History</title><script language="JavaScript"><!--

var pageName = "PageViewBids_Active_None";

var s_eVar4="+1"

var eBayTRPageName="TR_ItemHistory";

var eBayTRDisplayName="Item History - Item #181589917677";

//--></script></head><body><div class="pagewidth"><div class="pageminwidth"><div class="pagelayout"><div class="pagecontainer"><!-- Begin eBay Header --><!--2014-11-04 13:43:58,,, uk`0d72f+6:db,RcmdId ViewBids,RlogId p4lc%60bqfiuf%3F%3Ctof3e34e*2%3Cgc-149e68bca27-0x193--><div><script type="text/javascript">var _GlobalNavHeaderUtf8Encoding=true,includeHost='http://include.ebaystatic.com/';</script><script src="http://ir.ebaystatic.com/v4js/z/i5/r32gctn0fu3vjkpge2mjhij3q.js"></script><script src="http://include.ebaystatic.com/js/e887/us/ebaybase_v4_e8872us.js"></script><script src="http://include.ebaystatic.com/js/e867/us/ebaysup_e8672us.js"></script><script type="text/javascript">if(document.documentMode != 8 && document.compatMode != "CSS1Compat") ebay.oDocument._getControl("headerCommon")._exec("writeStyleSheet");</script><link href="http://ir.ebaystatic.com/rs/v/cn205iq44iz4vp1bfi3i3gywdeg.css?proc=DU:N" type="text/css" rel="stylesheet"><div class="gh-acc-exp-div"><a id=gh-hdn-stm class="gh-acc-a" href="#mainContent">Skip to main content</a></div><!--[if lt IE 9]><div id="gh" class="gh-IE8 gh-flex gh-w no-touch "><![endif]--><!--[if (gte IE 9)|!(IE)]><!--><div id="gh" class="gh-flex gh-w no-touch "><!--<![endif]--><div id="gh-top"></div>
					</div><!--ts:2014.11.24.09:00--><!--rq:--><!--rvr:59rc5--><script src="http://ir.ebaystatic.com/rs/v/c3l1hex5sa5ujctlht45y0yf225.js" type="text/javascript"></script><script type="text/javascript">
					GH_spacerImg = "http://ir.ebaystatic.com/pictures/aw/pics/s.gif";
				
	if(typeof GHJSLoaded === "undefined"){
		!function(){
			var imgObj,roverURL="http://rover.ebay.com";
			if(document.location.protocol=="https:"){ roverURL = roverURL.replace(/^http/, "https"); }
			
			
			if(document.body != null){
				imgObj = document.createElement("img");
				imgObj.src = roverURL 
				+ "/roverimp/0/0/9?imp=2046301&trknvp=ghi%3D91"
				+ "%26gh1g%3D"  + encodeURIComponent(document.location.href)
				+ "%26gh2g%3D " + encodeURIComponent(navigator.userAgent)
				+ "&" + (new Date()).getTime();
				document.body.appendChild(imgObj); 
			}
		}();
	}

	if (typeof GH != "undefined" && GH) {
		GH.urls = {
		    autocomplete_js:"http://ir.ebaystatic.com/f/gx1od3zdei121fkdjg2mqzahqyl.js", ac_rtm:"http://srx.main.ebayrtm.com/rtm?RtmCmd&a=json&uf=0&e=USC:2&z=11&enc=UTF-8&v=5&rnc=1&_vrdm=1358451349580&p=19320&cb=GH_ac_rtm", mFtrLnk:"http://ir.ebaystatic.com/f/logwisyb5e5yddn4zmlg5mnhbab.js", qanewalerts_endpoint:0
		};
		
		GH.GHSW = {
			recogoff:0, jsdebug:0, raptor:0, catService:0, sandbox:0, emp:0, no_akamai_autocomplt:"true", ac1:0, ac2:0, ac3:0, ac4:0, AUTOCOMPLETE_HELP:0, nodoodleon980:0, rtmftr:0, actVer:0, actDebug:0, alerts:0, alertsOff:0, hideMobile:0, survey:0, telDE:0, langSwitch:0, pool:0, SHOW_MYCOLL:"true"
		};
	}
</script><script type="text/javascript">
if (typeof GH != "undefined" && GH) {GH_config = {"siteId":"0","geoLang":"[]",sin:1,ct:0,pageId:272,notifCfg:null,catURL:'http://include.ebaystatic.com/categoryjs/110/en_US_MAIN/category_110en_US_MAIN0.js',impId:'Ai8oIQuo*'};GH.init();}</script><script type="text/javascript">var RoverDomainBaseUrl = 'http://rover.ebay.com';var svrGMT = 1416912161366;var scbps=0;var scPageName='ViewBids:272';</script></div><!--@sghp@ headerStyle=FULL:DEFAULT:BUY:NOSKIPLINK @eghp@--><!-- End eBay Header --><script src="http://include.ebaystatic.com/js/e899/us/features/offer/pageviewbidsdutchhighbidderbody_e8992us.js"> </script><style type="text/css"><!--

.NewActionBaseTable{margin-top:15px;width: 100%;}

.classicOverlay {background:inherit;top:-1600px; left:-1600px; display:block; z-index:5000;}

.basOlp-title {font-size:medium; font-weight:bold;_font-weight:bold; color:#333; font-family:Arial; padding:5px 5px 0px 15px;}

.classicOverlay .basOlp-ctentbox {width:100%; position:relative; z-index:10}

.classicOverlay .basOlp-ctentbox .basOlp-ctent {border:1px solid #666; border-width:0px 1px; background:#fff}

.classicOverlay .basOlp-ctentbox .basOlp-ctent .basOlp-ctentholder {padding:5px;width:137px;

}

.classicOverlay .basOlp-sdowbox {width:100%; position:absolute; top:5px; left:5px; z-index:8}

.classicOverlay .basOlp-sdowbox .basOlp-ctent {background:#000}

.classicOverlay .basOlp-ctentbox .basOlp-n {border-top:1px solid #666; margin:0px 5px; background:#fff; height:4px}

.classicOverlay .basOlp-ctentbox .basOlp-s {border-bottom:1px solid #666; margin:0px 5px; background:#fff; height:4px; clear:both}

.classicOverlay .basOlp-sdowbox .basOlp-n {margin:0px 5px; background:#000; height:5px}

.classicOverlay .basOlp-sdowbox .basOlp-s {margin:0px 5px; background:#000; height:5px}

.basOlp-cn {height:5px; display:block; font-size:0px; line-height:0%; position:relative; background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgOverlayCorners.gif) no-repeat}

.basOlp-scn {height:5px; display:block; font-size:0px; line-height:0%; position:relative; background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgOverlayShade.gif) no-repeat}

.classicOverlay .basOlp-n .basOlp-cn .basOlp-cn {background-position:0px 0px; width:5px; margin-left:-5px; margin-top:-1px; padding-top:1px; height:4px}

.classicOverlay .basOlp-n .basOlp-scn .basOlp-scn {background-position:0px 0px; width:5px; margin-left:-5px}

.classicOverlay .basOlp-n .basOlp-cn {background-position:100% -20px; margin-right:-5px; margin-top:-1px; padding-top:1px; height:4px}

.classicOverlay .basOlp-n .basOlp-scn {background-position:100% -20px; margin-right:-5px;}

.classicOverlay .basOlp-s .basOlp-cn {background-position:100% -30px; margin-right:-5px; margin-bottom:-1px; padding-bottom:1px; height:4px}

.classicOverlay .basOlp-s .basOlp-scn {background-position:100% -30px; margin-right:-5px;}

.classicOverlay .basOlp-s .basOlp-cn .basOlp-cn {background-position:0px -10px; width:5px; margin-left:-5px;margin-right:-5px; margin-bottom:-1px; padding-bottom:1px; height:4px;}

.classicOverlay .basOlp-s .basOlp-scn .basOlp-scn {background-position:0px -10px; width:5px; margin-left:-5px}

.classicOverlay form{margin:0px;}

#UserIDPreview a:active, #UserIDPreview a:link, #UserIDPreview .novisited a:visited {color:#656365;text-decoration:none;}

--></style><div id="pccenew" style="width: 150px; position: absolute; left: 747px; top: 485px;"></div><script language="javascript"><!--

	function ebCreateActionMenuConfig()

	{	

	var c = ebay.oDocument.addConfig(new EBayMenuPopupConfig('ActionMenuRoundConfig'));

		c.sPopupMenuDivId = 'pccenew';

		c.iWidth	= 148;				//div width

		c.sBckImgDivId='bckshade';

		c.iBorderWidth=0;

		c.sBorderStyle='solid';

		c.sBorderColor='#656365';

		c.aFocusId='';

		c.sTopCurBdr='<div id="UserIDPreview" class="classicOverlay" style="word-wrap: break-word;"><div class="basOlp-sdowbox" style=" filter:alpha(opacity=15);-moz-opacity:0.15;opacity: 0.15;"><div class="basOlp-n"><div class="basOlp-scn"><div class="basOlp-scn"></div></div></div><div class="basOlp-ctent" id="bckshade" name="bckshade"></div><div class="basOlp-s"><div class="basOlp-scn"><div class="basOlp-scn"></div></div></div></div><div class="basOlp-ctentbox" id="Useridoverlaybox"><div id="SMSPanel_DIV_cnt_n" class="basOlp-n"><div class="basOlp-cn"><div class="basOlp-cn"></div></div></div><div class="basOlp-ctent"><div class="basOlp-hdr"></div><div class="basOlp-ctentholder"><div style="word-wrap: break-word;" WIDTH="100%">';

		c.sLnkMouHov='<div onmouseover="this.style.background=\'#D6EFFF\'" onmouseout="this.style.background=\'#FFFFFF\'" style="font-size:10px;padding:3px 5px 3px 5px;font-family:verdana;width:124px;_width:136px">';

		c.sBtmCurBdr='</div></div></div><div class="basOlp-s"><div class="basOlp-cn"><div class="basOlp-cn"></div></div></div></div></div>';

	}

	ebCreateActionMenuConfig();

	//--></script><script language="javascript" type="text/javascript"> 

		ebay.oDocument.oPage.createConfig = function()	{

		var c = this.oDocument.addConfig(new EbayConfig("View.placebidtrack"));

		c.aButtonId = ["PBsubmitButton"];

		c.aTxtboxId = ["maxbid"];

		c.aHiddenvarId = ["TFMode"];

		c.sModeValue = 2; 

		c.pIsDS3Enabled=true;

		}

		ebay.oDocument.oPage.createConfig();

		</script><script type="text/javascript" language="javascript">

			ebay.oDocument.oPage.createConfig = function()

			{  

			 var  c = ebay.oDocument.addConfig(new EbayConfig("Bid.History.BubbleHelp"));

			 c.iDisplayWait = 500; 

			 c.iHideWait = 2500; 

			 c.iHeightBuffer = 0; 

			 c.iWidthBuffer = 0; 

			 c.sLayerHTMLName ='hlpBubR'; 

			 c.sContentLayerName = 'content'; 

			 c.sCloseLink='hlpBubCloseR';

			 c.bOnFocus = true; 

			 c.aElemNames =["AnonBidHelp1","AnonBidHelp2"];

			 c.sBubbleText = "To keep eBay a safe place for buyers, member-specific information is not displayed. Each bidder is assigned an anonymous name, that is used consistently throughout the bid history for an item.";

			 c.useIfShim = true; 

			 c.sTopLeftClass = 'hlpBubTopLft'; 

			 c.sBottomLeftClass = 'hlpBubBtmLft'; 

			}; 

			ebay.oDocument.oPage.createConfig();

		</script>
		<a href="/" style="text-indent:none;">eBay Home</a>
		<table><tr><td style="width:80%"><div class="BHpageTitle"><a name="mainContent"></a><h1 style="display:inline; font-size:24px; font-weight:normal; padding-left: 20px;">

									Bid history

								</h1></div></td></tr></table><table id="vizrefresh" style="padding-left:10px;_width:100%;width:99%;"><tr><td valign="top" style="width:68%;"><div><h2 class="gh-ar-hdn">Bid History Section.</h2><div class="BHbidSecBorderGrey"><div class="n"><div class="e"><div class="w"> </div></div></div><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-left:10px;"><tr><td><span class="titleHeadFont">Bidders:</span><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="5" height="1" alt=" "><span class="titleValueFont" style="padding-right:23px;"><%=productDetails[0].noOfBidders%></span><span class="titleHeadFont">Bids:</span><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="5" height="1" alt=" "><span class="titleValueFont" style="padding-right:23px;"><%=productDetails[0].noOfBids%></span><span class="titleHeadFont">Bid Expiry Time:</span><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="5" height="1" alt=" "><span class="titleValueFont" id="timeLeft" style="padding-right:23px;"><%=productDetails[0].bid_expiry_time%></span><span class="titleHeadFont"></span><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="5" height="1" alt=" "><span class="titleValueFont" style="padding-right:23px;">

																</span></td><td align="right"></td></tr></table><div><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="1" height="10" alt=" "></div><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:18px;"><tr class="bidderInfoFont"><td style="padding:0 10px 0 10px;">Only actual bids (not automatic bids generated up to a bidder's maximum) are shown. <a href="http://pages.ebay.com/help/buy/bidding-ov.html">Learn more about bidding<b class="g-hdn"> - opens in a new window or tab</b></a>.									

								</td></tr><tr class="bidderInfoFont"></tr></table><div id="vizrefdiv" style="padding:15px 10px 20px 10px;_width:100%;">
<table width="100%" border="0" cellspacing="0" cellpadding="5"><tr class="tabHeadDesign "><th valign="middle" align="left" scope="col" width="1" class="newTabHeadBorder headerPadding"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="1" height="20" alt=" "><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="10" height="20" alt=" "></th><th nowrap width="25%" valign="middle" align="left" scope="col" style="border-bottom:1px solid #CCCCCC;" class="headerPadding"><span class="tabHeadDesignFont"><b>Bidder</b><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="5" height="1" alt=" "><a href="javascript:;" id="AnonBidHelp1"><img src="http://pics.ebaystatic.com/aw/pics/buttons/btnHelp.gif" border="0" alt="Click here to know more about anonymous user IDs" title="" align="absmiddle"></a></span></th><th align="left" nowrap width="25%" valign="middle" scope="col" class="tabHeadDesignFont headerPadding" style="border-bottom:1px solid #CCCCCC;"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="10" alt=" ">Bid Amount</th><th nowrap width="25%" valign="middle" align="left" scope="col" class="tabHeadDesignFont headerPadding" style="border-bottom:1px solid #CCCCCC;">Bid Time</th><th align="left" scope="col" class="newTabHeadBorder emptyCellPadding"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" alt=" " width="1"></th></tr>
 <% bidList.forEach(function(bidItem){ %>
<tr bgcolor="#ffffff"><td valign="middle" width="2" class="emptyCellPadding"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="1" alt=" "><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="10" alt=" "></td>
<td class="onheadNav"><%= bidItem.person_email %><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="4" border="0" alt=" "><span> </span></td>
<td align="left" nowrap class="contentValueFont"> <span>US $<%= bidItem.bid_amount %></span></td><td align="left" class="contentValueFont"><div><span><%=bidItem.bid_timestamp%></span><span style="white-space:nowrap;"></span></div></td><td class="emptyCellPadding"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="1" height="1" alt=" "></td></tr>
<%}); %>
</table>
								
								
								</div><div style="clear:both"></div><table width="100%" border="0" cellspacing="6" cellpadding="0" class="footerFontRedesign"><tr><td>If two people bid the same amount, the first bid has priority. Also, you can only retract your bid under certain circumstances. <a href="http://pages.ebay.com/help/buy/bid-retract.html" target="_blank">Learn more<b class="g-hdn"> - opens in a new window or tab</b></a>.</td></tr></table><div class="s"><div class="e"><div class="w"> </div></div></div></div></div><div style="padding-top:15px;"><div><div style="padding:1px 10px 0px 10px;_width:100%;"></div><div style="clear:both"></div><div class="s"><div class="e"><div class="w"> </div></div></div></div></div><div id="vizrefdiv"><h2 class="gh-ar-hdn">Bid retraction and cancellation history section.</h2><div><div style="padding:1px 10px 0px 10px;_width:100%;"><p><a name="dutch"></a></p></div><div style="clear:both"></div><div class="s"><div class="e"><div class="w"> </div></div></div></div></div><div id="hlpBubR" style="display:none;position:absolute;" class="hlpBub"><table cellpadding="0" cellspacing="0" border="0" summary="" ID="Table1"><tr><td class="hlpBubNW" rowspan="2"></td><td class="hlpBubNSpacer" colspan="2"></td><td class="hlpBubNSpacer"></td></tr><tr><td class="hlpBubN" colspan="2"></td><td class="hlpBubNE"></td><td></td></tr><tr><td class="hlpBubW"></td><td class="hlpBubText">&lt;#1#&gt;</td><td class="hlpBubText" valign="top"><a href="#" name="hlpBubCloseR"><img border="0" alt="Close" src="http://pics.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif"></a></td><td class="hlpBubE"></td></tr><tr><td class="hlpBubSW" rowspan="2"></td><td class="hlpBubS" colspan="2"></td><td class="hlpBubSE"></td></tr><tr><td class="hlpBubSSpacer" colspan="3"></td></tr></table></div><div id="hlpBubL" style="display:none;position:absolute;" class="hlpBub"><table cellpadding="0" cellspacing="0" border="0" summary="" ID="Table1"><tr><td class="hlpBubNW" rowspan="2"></td><td class="hlpBubNSpacer" colspan="2"></td><td class="hlpBubNSpacer"></td></tr><tr><td class="hlpBubN" colspan="2"></td><td class="hlpBubNE"></td><td></td></tr><tr><td class="hlpBubW"></td><td class="hlpBubText">&lt;#1#&gt;</td><td class="hlpBubText" valign="top"><a href="#" name="hlpBubCloseL"><img border="0" alt="Close" src="http://pics.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif" style="margin-right:5px;"></a></td><td class="hlpBubE"></td></tr><tr><td class="hlpBubSW"></td><td class="hlpBubS" colspan="2"></td><td class="hlpBubSE" rowspan="2"></td></tr><tr><td class="hlpBubSSpacer" colspan="3"></td></tr></table></div></td><td valign="top"><img src="http://pics.ebaystatic.com/aw/pics/s.gif" width="1" height="1" alt=" "></td><td valign="top" style="width:31%;"><script language="javascript" type="text/javascript">

	ebay.oDocument.oPage.createConfig = function()

	{

	var c = this.oDocument.addConfig(new EbayConfig("BidHistory.Image"));

	c.bSelfHosted = true;

	c.sImageName = 'itemImage';

	c.sImage = "/images/<%=productDetails[0].category_id%>.JPG";

	c.iHeight = 96;

	c.iWidth = 96;

	}

	ebay.oDocument.oPage.createConfig();

	</script><script language="javascript" type="text/javascript">

 ebay.oDocument.oPage.createConfig = function()

 {

 var c = this.oDocument.addConfig(new EbayConfig("BidHistory.ItmSumButton"));

 c.sClsNames = ["ebayBtn ebayBtn1", "ebayBtn"];

 c.sSpnIds = ["PBsubmitBtnSpan", "BinButtonSpan", "input_binSpan", "ContacttheSellerBtnSpan", "MakeOfferBtnSpan"]; 

 }

 ebay.oDocument.oPage.createConfig();

 </script><div id="BidPanelDiv" style="visibility:hidden;position:absolute;z-index:2"></div><div id="lyrGrayout_sec" style="visibility:hidden;position:absolute;z-index:1"></div><div id="VizItemInfo"><h2 class="gh-ar-hdn">Item info Section</h2><div class="BHbidSecBorderGrey"><div class="n"><div class="e"><div class="w"> </div></div></div><div class="itemInfo itemInfoSection">Item info</div><div class="itemInfoSection"><table cellpadding="0" cellspacing="0" border="0" class="itemInfoContent"><tr><td valign="top"><div class="BHimgSecPad"><div align="center">
 <img border="0" src="/images/<%=productDetails[0].category_id%>.JPG" alt=" " name="itemImage" width="96" height="96"></div></div></td><td class="itemInfoCntPadding"><div class="itemTitle"><a href="/product/details?productidfordisplay=<%=productDetails[0].product_id%>"><b class="g-hdn">Item Title: </b><%=productDetails[0].product_name%></a></div><div style="padding:10px 10px 0 0px;" class="txtT">

									Buy It Now price is no longer available since bidding has started.</div></td></tr></table>
									<table cellpadding="0" cellspacing="0" border="0" class="marAuto">
									<tr>
									<td valign="top" class="BHCtBidLabel bidPriceLabel" align="right" nowrap>Current bid:</td>
									<td class="itemVal" style="color:#333333">US $<%=productDetails[0].currentBid%></td>
									</tr><tr>
									<td class="BHCtBidLabel itmSumLabelPadding" valign="top" align="right">Shipping:</td>
									<td class="itemVal labelPadding">Free -- Economy Shipping</td>
									</tr><tr>
									<td class="BHCtBidLabel" valign="top" align="right" nowrap>Item number:</td>
									<td class="itemVal"><%=productDetails[0].product_id%></td>
									</tr></table>
									<div class="linearBg3"></div>
									<div>
										<div class="BHbidSec">
											<div class="BHPlaceBid">
												<div class="BHPlaceBid-mid">
													<div class="BHmaxBidText" style="padding-bottom:15px;">
														<label for="maxbid">Enter your maximum bid:</label>
													</div>
													<div>
 													<form style="display: none" action="/product/placebid" method="post" id='placeBid'><input id="productIdValue" type="hidden" name="productid" value="<%=productDetails[0].product_id%>"><input type="hidden" name="newbidamt"><input type="hidden" name="customerid" value=<%=customerId%>></form>
													<div class="priceSection inpc">
														<input type="text" name="maxbid" id="maxbid" size="16" maxlength="10" style="height:24px;">
														<input type="hidden" name="MfcISAPICommand" value="MakeBid">
														<input type="hidden" name="fromPage" value="272">
														<input type="hidden" name="TFMode" id="TFMode" value="3">
														<input type="hidden" name="bidlyr" id="bidlyr" value="2">
														<input type="hidden" name="fb" value="2">
														<input type="hidden" name="co_partnerid" value="">
														<input type="hidden" name="item" value="181589917677">
													</div>
													<span class="ebayBtn" id="PBsubmitBtnSpan" name="PBsubmitBtnSpan"><span>
													<button type="button" name="PBsubmitButton" id="PBsubmitButton" onClick=placeBid()>Place bid</button>
													</span></span>
													<div class="clearBoth"></div>
												</div>
												<div class="MaxBidPlusFont">(Enter value more than US $<%=productDetails[0].currentBid%>)</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="s"><div class="e"><div class="w"> </div></div></div></div></div>
							</td></tr></table>
							<div style="clear:both"></div><script type="text/javascript" language="JavaScript" xmlns:bx="http://www.ebay.com/2004/bex">

					ebay.oDocument.oPage.createConfig = function() {var  c = ebay.oDocument.addConfig(new EbayConfig('EBX.CrossLinking'));c.sLayer='ebx_layer';c.sHTML='<table align="center" style="border:2px solid #0098CF; margin-bottom: 15px;" width="85%" cellpadding="0" cellspacing="0" bgcolor="#EDF9FF"><tr valign="middle"><td width="36" style="padding: 0 10px 0 10px;">
					<img align="middle" alt=" " src="http://pics.ebaystatic.com/aw/pics/icon/iconInfo_16x16.gif" /></td><td width="80%" nowrap="nowrap" style="padding-right:10px" >You\'ve left eBay Express.</td><td align="left" nowrap="nowrap"><a href="http://www.express.<#1#>/">Shop again on eBay Express</a><span style="margin:0 10px 0 10px;">|</span><img align="bottom" src="http://pics.ebaystatic.com/aw/pics/express/icons/iconCart_15x10.gif" alt=""/> <a href="http://cart.express.<#1#>/ws/eBayISAPI.dll?ExpressCart&action.view=&from=Header">Shopping Cart<#2#></a></td><td width="135" nowrap="nowrap" style="padding: 0 20px 0 20px;"><img align="top" src="http://pics.ebaystatic.com/aw/pics/express/logos/logoExpress_95x39.gif" alt=""></img></td><td nowrap="nowrap" width="26" align="left"><a href="#1" id="b_close" name="b_close"><img align="middle" border="0" src="http://pics.ebaystatic.com/aw/pics/buttons/btnExpressClose.gif" alt="" ></img></a></td></tr></table>';c.sCartCountText=' (<#1#>)';c.sClose='b_close';c.aHost={'0':'ebay.com','77':'ebay.de','2':'ebay.co.uk','15':'ebay.com.au'};c.aHideOnParams=["fromebxris=1", "fromebxrisZ1"];} ;ebay.oDocument.oPage.createConfig();</script></body></html>