<!DOCTYPE html>
<html>
<head><title>Products|Cart</title></head>
<body>

<div id='current'>
<p><a href='/c/cart/saved'>My Saved Cart</a></p>

<%if(items.length == 0){%>
<p>Your cart is empty. Start <a href='/'>shopping!!</a></p>
<%}else{%>
<form method='post' action='/c/cart/save' onsubmit="javascript:void window.close();">
	<% for (var i=0; i<items.length; i++){%>
	<br>
		<%=items[i].prod_id%><br>
		<%=items[i].prod_name%><br>
		<%=items[i].prod_qty%><br>
		<%=items[i].prod_price%><br>
<a href="/c/cart/remove/<%=items[i].prod_id%>" onclick="javascript:
void window.open('/c/cart/remove/<%=items[i].prod_id%>','1417728476930','width=250,height=250,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
return false;">Remove from cart</a><br>
	<%}%>	
<input type='submit' name='submit' value='Save Cart'/><br>
</form>
<p>Save the cart to proceed for checkout</p>
<%}%>
<p>An unsaved cart will automatically be cleared when the session expires unless checked out</p>

</div>

</body>
</html>